::-webkit-scrollbar {
    display: none;
}

.logo {
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    
}

.cont {
    position: relative;
    overflow: hidden;
    height: 90vh;
    padding: 10px 70px 60px 70px;
}

@media screen and (max-width: 500px) {
    .cont {
        position: relative;
        overflow: hidden;
        height: 90vh;
        padding: 5px 30px 45px 30px;
    }
}

.cont__inner {
    position: relative;
    height: 100%;
}

.cont__inner:hover .el__bg:after {
    opacity: 1;
}

.el {
    position: absolute;
    left: 0;
    top: 0;
    width: 19.2%;
    height: 100%;
    background: #252525;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
    will-change: transform, width, opacity;
}

.el:not(.s--active) {
    cursor: pointer;
}

.el__overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.el__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform 1s;
}

.cont.s--inactive .el__inner {
    transform: translate3d(0, 100%, 0);
}

.el__bg {
    position: relative;
    width: calc(100vw - 140px);
    height: 100%;
    transition: transform 0.6s 0.7s;
    will-change: transform;
}

@media screen and (max-width: 500px) {
    .el__bg {
        position: relative;
        width: calc(100vw - 57px);
        height: 100%;
        transition: transform 0.6s 0.7s;
        will-change: transform;
    }
}

.el__bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center center;
    transition: transform 1s;
    transform: translate3d(0, 0, 0) scale(1);
}

.cont.s--inactive .el__bg:before {
    transform: translate3d(0, -100%, 0) scale(1.2);
}

.el.s--active .el__bg:before {
    transition: transform 0.8s;
}

.el__bg:after {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
}

.cont.s--el-active .el__bg:after {
    transition: opacity 0.5s 1.4s;
    opacity: 1 !important;
}

.el__preview-cont {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s 1.2s;
}

.cont.s--inactive .el__preview-cont {
    opacity: 0;
    transform: translateY(10px);
}

.cont.s--el-active .el__preview-cont {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}

.el__heading {
    color: #fff;
    font-size: 36px;
}

@media screen and (max-width: 500px) {
    .el__heading {
        color: #fff;
        font-size: 24px;
    }
}

.el__content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
    overflow: auto;
}

.el.s--active .el__content {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s 1.4s;
}

.el__text {
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .el__text {
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
    }
}

@media screen and (max-width: 350px) {
    .el__text {
        text-transform: uppercase;
        font-size: 17px;
        color: #fff;
    }
}

.el__close-btn {
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s 0.45s;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .el__close-btn {
        z-index: -1;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 25px;
        height: 25px;
        opacity: 0;
        pointer-events: none;
        transition: all 0s 0.45s;
        cursor: pointer;
    }
}

.el.s--active .el__close-btn {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s 1.4s;
}

.el__close-btn:before,
.el__close-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background: #fff;
    opacity: 0;
    transition: opacity 0s;
}

.el.s--active .el__close-btn:before,
.el.s--active .el__close-btn:after {
    opacity: 1;
}

.el__close-btn:before {
    transform: rotate(45deg) translateX(100%);
}

.el.s--active .el__close-btn:before {
    transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(45deg) translateX(0);
}

.el__close-btn:after {
    transform: rotate(-45deg) translateX(100%);
}

.el.s--active .el__close-btn:after {
    transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(-45deg) translateX(0);
}

.el__index {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 100%;
    min-height: 200px;
    text-align: center;
    font-size: 13vw;
    line-height: 0.85;
    font-weight: bold;
    transition: transform 0.5s, opacity 0.3s 1.4s;
    transform: translate3d(0, 1vw, 0);
}

.el:hover .el__index {
    transform: translate3d(0, 0, 0);
}

.cont.s--el-active .el__index {
    transition: transform 0.5s, opacity 0.3s;
    opacity: 0;
}

.el__index-back,
.el__index-front {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.el__index-back {
    color: #2f3840;
    opacity: 0;
    transition: opacity 0.25s 0.25s;
}

@media screen and (max-width: 500px) {
    .el__index {
        overflow: hidden;
        position: absolute;
        left: 0;
        bottom: 140px;
        width: 100%;
        height: 100%;
        min-height: 200px;
        text-align: center;
        font-size: 0.5vw;
        line-height: 0.85;
        font-weight: bold;
        transition: transform 0.5s, opacity 0.3s 1.4s;
        transform: translate3d(0, 1vw, 0);
    }
}

.el:hover .el__index-back {
    transition: opacity 0.25s;
    opacity: 1;
}

.el__index-overlay {
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.5s 0.1s;
    color: transparent;
}

.el__index-overlay:before {
    content: attr(data-index);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.5s 0.1s;
}

.el:hover .el__index-overlay {
    transform: translate3d(0, 0, 0);
}

.el:hover .el__index-overlay:before {
    transform: translate3d(0, 0, 0);
}

.el:nth-child(1) {
    transform: translate3d(0%, 0, 0);
    transform-origin: 50% 50%;
}

.cont.s--el-active .el:nth-child(1):not(.s--active) {
    transform: scale(0.5) translate3d(0%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(1) .el__inner {
    transition-delay: 0s;
}

.el:nth-child(1) .el__bg {
    transform: translate3d(0%, 0, 0);
}

.el:nth-child(1) .el__bg:before {
    transition-delay: 0s;
    background-color: #a9c5b9;
    /*background-image: url("");*/
}

.el:nth-child(2) {
    transform: translate3d(105.2083333333%, 0, 0);
    transform-origin: 155.2083333333% 50%;
}

.cont.s--el-active .el:nth-child(2):not(.s--active) {
    transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(2) .el__inner {
    transition-delay: 0.1s;
}

.el:nth-child(2) .el__bg {
    transform: translate3d(-19.2%, 0, 0);
}

.el:nth-child(2) .el__bg:before {
    transition-delay: 0.1s;
    background-color: #6fa0a5;
    /*background-image: url("");*/
}

.el:nth-child(3) {
    transform: translate3d(210.4166666667%, 0, 0);
    transform-origin: 260.4166666667% 50%;
}

.cont.s--el-active .el:nth-child(3):not(.s--active) {
    transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(3) .el__inner {
    transition-delay: 0.2s;
}

.el:nth-child(3) .el__bg {
    transform: translate3d(-38.4%, 0, 0);
}

.el:nth-child(3) .el__bg:before {
    transition-delay: 0.2s;
    background-color: #62a7af;
    /*background-image: url("");*/
}

.el:nth-child(4) {
    transform: translate3d(315.625%, 0, 0);
    transform-origin: 365.625% 50%;
}

.cont.s--el-active .el:nth-child(4):not(.s--active) {
    transform: scale(0.5) translate3d(315.625%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(4) .el__inner {
    transition-delay: 0.3s;
}

.el:nth-child(4) .el__bg {
    transform: translate3d(-57.6%, 0, 0);
}

.el:nth-child(4) .el__bg:before {
    transition-delay: 0.3s;
    background-color: #468991;
    /*background-image: url("")*/
}

.el:nth-child(5) {
    transform: translate3d(420.8333333333%, 0, 0);
    transform-origin: 470.8333333333% 50%;
}

.cont.s--el-active .el:nth-child(5):not(.s--active) {
    transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(5) .el__inner {
    transition-delay: 0.4s;
}

.el:nth-child(5) .el__bg {
    transform: translate3d(-76.8%, 0, 0);
}

.el:nth-child(5) .el__bg:before {
    transition-delay: 0.4s;
    background-color: #006276;
    /*background-image: url("");*/
}

.el:hover .el__bg:after {
    opacity: 0;
}

.el.s--active {
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}

.el.s--active .el__bg {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s;
}

.el.s--active .el__bg:before {
    transition-delay: 0.6s;
    transform: scale(1.1);
}

.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}

.icon-link img {
    width: 100%;
    vertical-align: top;
}

.icon-link--department {
    left: auto;
    right: 5px;
}

/* 달력 */

#calendarelec {
    width: 650px;
    height: 600px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 15px;
    text-align: center;
}

#calendar {
    width: 650px;
    height: 600px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 15px;
    text-align: center;
}

.fc-toolbar {
    font-size: .9em;
}

.fc-toolbar h2 {
    font-size: 10px;
    white-space: normal !important;
}

/*click +2 more for popup */
.fc-more-cell a {
    display: block;
    width: 85%;
    margin: 1px auto 0 auto;
    border-radius: 3px;
    background: grey;
    color: transparent;
    overflow: hidden;
    height: 4px;
}

.fc-button-content {
    padding: 0;
}

@media screen and (max-width: 500px) {
    #calendar {
        width: 240px;
        margin: 0 auto;
        font-size: 10px;
    }
}

/*지도*/

#map {
    width: 100%;
    height: 580px;
    margin-top: 20px;
    clear: both;
    border: solid 1px black;
    color: #252525;
}
@media screen and (max-width: 500px) {
    #map {
        width: 100%;
        height: 570px;
        margin-top: 20px;
        clear: both;
        border: solid 1px black;
        color: #252525;
    }
}

.btns_bar {
    text-align: center;
}

.mapbtn {
    margin-top: 10px;
    margin-right: 10px;
}

#mapList {
    margin-top: 20px;
}
@media screen and (max-width: 500px) {
    #mapList {
        margin-top: 10px;
        font-size: 12px;
    }
}

div.text-box {
    text-align: center;
}

h4 {
    margin: 10px auto 0;
    color: #000;
}

div.img-box {
    margin-top: 30px;
    margin-bottom: 1px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}


div.img-box img {
    max-width: 100%;
    height: 80%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    div.img-box {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 150px;
        overflow: hidden;
    }
    
    
    div.img-box img {
        max-width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

a {
    text-decoration: none;
    color: #000;
}

/* 지도메뉴 표시여부
.gmnoprint, .gm-control-active.gm-fullscreen-control {
    display: none;
}
*/

/*table*/
.twrapper {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@media screen and (max-width: 580px) {
    .twrapper {
        font-size: 16px;
        line-height: 22px;
    }
}

.twrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 800px;
}

@media screen and (max-width: 580px) {
    .twrapper {
        margin: 0 auto;
        padding: 10px;
        max-width: 800px;
    }
}

.phoneswrapper {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@media screen and (max-width: 580px) {
    .phoneswrapper {
        font-size: 16px;
        line-height: 22px;
    }
}

.phoneswrapper {
    margin: 0 auto;
    padding: 30px;
    padding-top: 80px;
    max-width: 800px;
}

@media screen and (max-width: 580px) {
    .phoneswrapper {
        margin: 0 auto;
        padding: 10px;
        max-width: 800px;
    }
}

.kktable {
    margin: 0 0 40px 0;
    width: 100%;
    height: 10%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    overflow: auto;
}

@media screen and (max-width: 580px) {
    .kktable {
        display: block;
    }
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.row:nth-of-type(odd) {
    background: #dddada;
}

.row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
}

.row.green {
    background: #3b6b4f;
}

.row.blue {
    background: #1c5981;
}

@media screen and (max-width: 580px) {
    .row {
        padding: 14px 0 7px;
        display: block;
    }

    .row.header {
        padding: 0;
        height: 6px;
    }

    .row.header .cell {
        display: none;
    }

    .row .cell {
        margin-bottom: 10px;
    }

    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}

@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block;
    }
}